body {
    background-color: #333 !important;
    color: lightgrey !important;
    font-size: 20px !important;
    font-family: -apple-system,
     BlinkMacSystemFont,
     "Segoe UI",
     "Roboto",
     "Helvetica Neue",
     Arial,
     sans-serif !important;
}
.transparent {
    border: none;
    background-color: transparent;
}
.transparent:focus{
    outline: none;
}
.input--url {
    margin-top: 13rem;
    margin-bottom: 4rem;
}

.tweet-container {
    position: relative;
}

.select-tweet-checkbox {
    position: absolute;
    bottom: calc(50% - 7px);
    right: 25%;
}

.score-indicator {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 29%;
    bottom: 10px;
    font-size: 25px;
}
.score-indicator > span {
    position: absolute;
    top: 0;
}
.score-indicator.highly {
    color: red;
}
.score-indicator.moderately {
    color: orange;
}
.score-indicator.slightly {
    color: yellow;
}
