body {
  background-color: #333 !important;
  color: lightgrey !important;
  font-size: 20px !important;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue",
    Arial,
    sans-serif !important;
}

.container {
    padding-bottom: 25px;
}

.transparent {
  border: none;
  background-color: transparent;
}
.transparent:focus{
  outline: none;
}

.input--url {
  margin-top: 13rem;
  margin-bottom: 4rem;
}

.nav-controls {
  font-size: 0.8em;
  margin-bottom: 25px;
}

.page-nav {
    font-weight: bold;
}

.page-span {
    margin: 0 10px;
}

.tweet-container {
  position: relative;
}

.tweet-checkbox {
  position: absolute;
  bottom: calc(50% - 7px);
  right: 25%;
}
