body {
  background-color: #333 !important;
  color: lightgrey !important;
  font-size: 20px !important;
}
.transparent {
  border: none;
  background-color: transparent;
}
.transparent:focus{
  outline: none;
}
.font--black {
  color: black;
}
.input--url {
  margin-top: 13rem;
  margin-bottom: 4rem;
}
button {
  font-size: 16px !important;
}
