{% extends "base.html" %}
{% block title %}Check Account{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Check if your account was compromised</h1>
    <p>
      Please insert your Twitter Account URL below.
    </p>
    <form method="post">
        Account URL:<br />
        <input type="url" name="account_url" value="https://twitter.com/example_account" size="50" /><br /><br />
        <input type="submit" value="Submit" />
        <input type="reset" />
    </form>
{% endblock %}