{% extends "base.html" %}
{% block title %}Check Account{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1 class="text-center">Check if your account was compromised</h1>
    <form method="post">
      <div class="col-md-12 text-center input--url">
        <label for="account_url" class="col-md-12">Account URL:</label>
        <input type="url" name="account_url" id="account_url" value="https://twitter.com/hpi_de" size="50" class="transparent col-md-12 text-center" />
      </div>
      <div class="col-md-12 text-center">
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
        <button type="reset" value="Reset" class="btn btn-default">Reset</button>
      </div>
    </form>
{% endblock %}
